{% extends 'AdminBundle:Base:base.html.twig' %}

{% block title %}StartPack | Admin - Login{% endblock %}

{% block body %}
    <div class="row marginTop30px">
    	<div class="span12">
			test
		</div>
	</div>
{% endblock %}
