{% extends 'AdminBundle:Base:base.html.twig' %}

{% block title %}{{ parent() }} Admin - Index{% endblock %}

{% block content %}
    <div class="row marginTop30px">
    	<div class="span12">
			test
		</div>
	</div>
{% endblock %}
