{% extends 'AdminBundle:Base:base.html.twig' %}

{% block title %}{{ parent() }} Login{% endblock %}

{% block content %}
    <form action="{{ path('admin_login_check') }}" method="post" class="form-horizontal">

        {% if error is not empty %}
            {{ error.message }}
        {% endif %}

        <div class="control-group">
            <label class="control-label" for="">Email</label>
            <div class=" controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <input type="text" class="span25" name="_username" value="{{ last_username }}" placeholder="Email">
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="">Mot de passe</label>
            <div class=" controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    <input type="password" class="span25" name="_password" placeholder="Mot de passe">
                </div>
            </div>
        </div>
        <br class="sep" />
        <p>
            <button type="submit" name="_submit" class="btn">Se connecter</button>
        </p>
    </form>
{% endblock content %}
