{% form_theme form 'AdminBundle:Form:form_admin.html.twig' %}
{% extends 'AdminBundle:Base:base.html.twig' %}

{% block title %}StartPack | Admin - Ajouter un utilisateur{% endblock %}

{% block headline %}Administration - Ajouter un utilisateur{% endblock headline %}

{% block content_topbar %} &nbsp; {% endblock content_topbar %}

{% block content_content %}
	<div class="row-fluid">
    <form action="" metod="post">
                <div class="">
                    <div class="fLeft width30p">{{ form_label(form.email) }}</div>
                    <div class="fLeft width50p">{{ form_widget(form.email) }} {{ form_errors(form.email) }}</div>
                    <br class="sep" />
                </div>
            </form>
            <p align="right">
                <a href="{{ path('admin_user_index') }}" class="btn">Retour</a>
            </p>
      </div>
{% endblock content_content %}
